@use '/src/index.scss' as *;

.review-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;

  &[data-show-overlay] {
    .overlay {
      pointer-events: all;
      backdrop-filter: blur(0.25rem);
      background-color: rgba(0, 0, 0, 0.05);

      &__indicator {
        opacity: 1;
      }
    }

    .canvas-wrapper__overlay {
      opacity: 0.85;
      filter: saturate(1) blur(0);
    }
  }

  .overlay {
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: white;
    font-weight: bolder;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    opacity: 1;
    transition: 250ms backdrop-filter ease-in-out,
      250ms background-color ease-in-out;
    pointer-events: none;
    gap: 0.5rem;

    &__indicator {
      transition: 250ms opacity ease-in-out;
      font-size: 2rem;
      opacity: 0;
    }

    &__predictions {
      font-size: 1.25rem;
      margin: 0;
    }

    &__indicator,
    &__predictions,
    &__actions {
      margin-bottom: 0.5rem;
    }
  }
}

.subject-details {
  width: 100%;

  h2 {
    margin: 0;
  }

  &__meanings,
  &__readings {
    display: flex;
    flex-direction: column;
  }
}

.answers-counter {
  align-self: center;
  border: 2px solid white;
  padding: 0.5rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;

  span {
    &:nth-of-type(1) {
      font-weight: bolder;
    }

    &:nth-of-type(2) {
      font-weight: bolder;
    }
  }
}

.details-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  min-height: 15rem;
  position: relative;
  padding: 1rem 1rem 0 1rem;

  &__header {
    align-self: center;
    justify-content: space-between;
    display: flex;
    width: 100%;

    .reference-button {
      opacity: 1;
      transition: 250ms opacity ease-in-out;
    }

    &[data-disabled] {
      .reference-button {
        @include disabled;
      }
    }
  }
}

.current-subject-index {
  font-size: 1.5rem;
  font-weight: bolder;
  display: flex;
  align-items: center;
}

.details {
  &--hidden {
    visibility: hidden;
  }
}

.canvas-wrapper {
  position: relative;

  &__overlay {
    font-family: 'Noto Sans JP', Inter, system-ui, Avenir, Helvetica, Arial,
      sans-serif !important;
    transition: 400ms opacity ease-in-out, 400ms color ease-in-out,
      300ms filter linear;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    content: '';
    display: flex;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    font-size: 15rem;
    color: white;
    z-index: 100;
    pointer-events: none;
    color: greenyellow;
    filter: saturate(0) blur(0.5rem);
  }
}
