@use '/src/index.scss' as *;

.review-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;

  &[data-show-overlay] {
    .overlay {
      pointer-events: all;
      backdrop-filter: blur(0.25rem);
      background-color: rgba(0, 0, 0, 0.015);
      cursor: grab;

      &__indicator {
        opacity: 1;
      }
    }

    .canvas-wrapper__overlay {
      opacity: 1;
      color: greenyellow;
    }

    *:not(.canvas-wrapper__overlay progress) {
      user-select: none;
      pointer-events: all;
    }
  }

  &[data-pause-auto-actions] {
    .overlay {
      cursor: grabbing;
      background-color: rgba(0, 0, 0, 0.3);
      backdrop-filter: blur(0.33rem);
    }

    .canvas-wrapper__overlay {
      cursor: grabbing;
    }
  }

  .overlay {
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: white;
    font-weight: bolder;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    opacity: 1;
    transition: 250ms backdrop-filter ease-in-out,
      250ms background-color ease-in-out;
    pointer-events: none;
    gap: 0.5rem;

    &__indicator {
      transition: 250ms opacity ease-in-out;
      font-size: 2rem;
      opacity: 0;
    }

    &__predictions {
      font-size: 1.25rem;
      margin: 0;
    }

    &__indicator,
    &__predictions,
    &__actions {
      margin-bottom: 0.5rem;
    }
  }
}

.subject-details {
  width: 100%;

  h2 {
    margin: 0;
  }

  &__meanings,
  &__readings {
    display: flex;
    flex-direction: column;
  }
}

.answers-counter {
  align-self: center;
  border: 2px solid white;
  padding: 0.5rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;

  span {
    &:nth-of-type(1) {
      font-weight: bolder;
    }

    &:nth-of-type(2) {
      font-weight: bolder;
    }
  }
}

.details-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  min-height: 15rem;
  position: relative;
  padding: 1rem 1rem 0 1rem;

  &__header {
    align-self: center;
    justify-content: space-between;
    display: flex;
    width: 100%;

    .current-subject-index,
    .reference-button {
      flex: 1 !important;
      display: flex;
    }

    .reference-button {
      opacity: 1;
      transition: 250ms opacity ease-in-out;
      justify-content: flex-end;
    }

    &[data-disabled] {
      .reference-button {
        opacity: 0.6;
      }
    }
  }
}

.current-subject-index {
  font-size: 1.5rem;
  font-weight: bolder;
  display: flex;
  align-items: center;
}

.details {
  &--hidden {
    visibility: hidden;
  }
}

.canvas-wrapper {
  position: relative;

  &__overlay {
    transition: 400ms opacity ease-in-out, 400ms color ease-in-out;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    z-index: 100;
    pointer-events: none;
    color: white;
    cursor: grab;

    span {
      font-size: 15rem;
      text-shadow: 0 0 3rem rgba(0, 0, 0, 0.5), 0 0 1.5rem rgba(0, 0, 0, 0.5);
    }

    .progress {
      position: absolute;
      top: 100%;
      user-select: none;
      pointer-events: none;

      &:hover {
        &::after {
          background-color: rgb(154, 205, 50, 0.25);
        }
      }

      &::after {
        content: '';
        display: block;
        top: 0.25rem;
        left: 0.25rem;
        height: calc(100% - 0.5rem);
        width: calc(100% - 0.5rem);
        position: absolute;
        border-radius: 50%;
        outline: 2px solid yellowgreen;
        background-color: rgb(154, 205, 50, 0);

        transition: background-color 200ms ease-out;
      }
      circle {
        transition: stroke-dashoffset 1s ease-in-out 0ms !important;
        stroke: yellowgreen;
      }
    }
  }
}
