.canvas-container {
  width: 360px;
  aspect-ratio: 1/1;
  border: solid 2px var(--ant-color-text-base);
  position: relative;
  opacity: 0.8;
  background-image: linear-gradient(#bfbfbf 2px, transparent 2px),
    linear-gradient(90deg, #bfbfbf 2px, transparent 2px),
    linear-gradient(#bfbfbf 1px, transparent 1px),
    linear-gradient(90deg, #bfbfbf 1px, transparent 1px);
  background-size: 60px 60px, 60px 60px, 15px 15px, 15px 15px;
  background-position: -1px -1px, -1px -2px, -1px -1px, -1px -1px;
  box-sizing: border-box;
  touch-action: none;

  &--dark {
    .canvas {
      filter: invert(0);
    }
  }
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  filter: invert(1);
  opacity: 1;
  transition: opacity 250ms ease-in-out;

  &[data-delete] {
    opacity: 0;
  }
}
